/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
    background-color: #efefef;
    font-family: "Montserrat-Regular", sans-serif;
    scroll-behavior: smooth;
}

#__next {
    height: 100%;
}
